<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BoruSankasi.Properties.Settings.BoruSankasiConnectionString"
            connectionString="Data Source=DESKTOP-B60483B\SQLEXPRESS;Initial Catalog=BoruSankasi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>